/* General Reset */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comic Neue', 'Comic Sans MS', 'Comic Sans', cursive;
  line-height: 1.6;
  background: url('hubble.jpg'); 
  background-size: cover;
}

header {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px 0;
}

header h1 {
  color: #333;
  font-size: 2em;
}

header p {
  color: #666;
}

/* Navigation Bar */
nav {
  background: #555;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #f9f9f9;
  font-size: 1.5em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.0em; 
}

ul {
  list-style: none;
}

.about, .skills {
  color: #f9f9f9;
}

.project_prev {
  background-color: #f9f9f9;
  padding: 4px;
  margin-bottom: 15px;
}

.project {
  background-color: rgba(249, 249, 249, 0.7); 
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  width: 300px;
  height: auto;
}

#returnToTop {
  position: fixed;
  bottom: 20px; 
  right: 20px;  
  padding: 10px 15px;
  font-size: 14px;
  font-family: 'Comic Neue', 'Comic Sans MS', 'Comic Sans', cursive;
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

#returnToTop:hover {
  background-color: rgba(51, 51, 51, 0.7);
}

footer {
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

/* Message Page Styling */
.message-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.message-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.message-container h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.message-container p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.message-container button {
  padding: 10px 20px;
  border: none;
  background: #ff6f61;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.message-container button:hover {
  background: #e54e42;
}
